body {
    font-family: Arial, sans-serif;
    background-color: #aaaaaa9f;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.question {
    margin-bottom: 25px;
}

.question p {
    font-weight: bold;
    color: #444;
}

label {
    display: block;
    margin-top: 8px;
    cursor: pointer;
    color: #333;
}

input[type="radio"] {
    margin-right: 8px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.623);
    transform: translate( -2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
    transition: transform 0.2s;
}
